body {

}

hr {
  border-style: none;
  border-top-style: dashed;
  border-color: grey;
  border-width: 7px;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  margin-top: 100px;
  text-align: center;
}
